.about {
    display: flex;
    gap: 50px;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .textContainer {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 40px;
    }

    .header {
        font-size: 4rem;
    }

    .title {
        color: var(--btn)
    }

    .imageContainer {
        position: relative;
        height: 500px;
        flex: 1;
        max-width: 50%;
    }

    .img {
       margin-top: 70px;
        object-fit: contain;
    }

    .boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    .introText {
        line-height: 25px;
    }

    .box {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .box h3 {
        color: var(--btn)
    }

    .box p {
        font-size: .8rem;
    }
}

@media screen and (max-width: 1024px) {
    .about {
        flex-direction: column;
    }

    .imageContainer {
       display: none;
    }

    .textContainer {
        height: 100vh;
        justify-content: space-around;
        padding: 1rem 0;
    }
}