.contact {
    display: flex;
    gap: 20px;

    .imageContainer {
        position: relative;
        display: flex;
        flex:1;
        height: 500px;
        align-items: center;
        justify-content: center;

        .image {
            object-fit: contain;
        }
    }

    .formContainer {
        display: flex;
        flex: 1;
        align-items: start;
        justify-content: center;
        min-width: 500px;
        padding-top: 2rem;
    }
}