.postCard {
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 5px;
    /* border: 2px solid var(--bg-soft); */
    /* border: 4px solid black; */
    flex: 1;
    transition: all .3s ease-in-out;

    .imageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 400px;
        min-width: 250px;
        flex: 1;
    }

    .top {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .top span {
        /* background-color: rgb(20, 19, 19); */
        /* background-color: var(--bg-soft); */
        font-size: .8rem;
    }

    .img {
        object-fit: cover;
    }

    .date {
        display: flex;
        justify-content: center;
        padding: 1rem;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        transform: rotate(180deg);
    }

    .body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;
        padding: 1rem;
        background-color: var(--bg-soft);
        background-color: black;
        background-color: transparent;
        justify-content: center;
        align-items: start;
    }

    .body > a {
        color: var(--btn);
        text-decoration: underline;
        font-style: italic;
    }

    .description {
        color: grey;
        font-size: 12px;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        width: 90%;
        height: 40px;
    }

}
/* .postCard:hover .imageContainer, .postCard:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 5px 12px white;
    transition: all .3s linear;
} */
