.viewPost {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    /* outline: 1px solid red; */
}

.imgContainer {
    position: relative;
    min-height: 700px;
    max-height: 100vh;
    flex: 1;
    min-width: 500px;
    border-radius: 5px;
}

.imgContainer img {
    object-fit: cover;
    border-radius: 5px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 2rem;
    min-width: 700px;
}

.text > p {
    margin-bottom: 1rem;
}

@media screen and (max-width: 1402px) {
    .imgContainer {
        height: 500px;
        min-width: 100%;
        min-height: 0;
    }
}

@media screen and (max-width: 768px) {
    .imgContainer {
        height: 300px;
        min-width: 300px;
        /* width: 100vw; */
        min-height: 0;
    }
    
    .imgContainer img {
        min-width: 300px;
        height: 300px;
        object-fit: cover;
    }

    .textContainer {
        flex: 1;
        gap: 2rem;
        min-width: 320px;
    }
}