.welcome {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;

    .textContainer {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 40px;
        .title {
            font-size: 7rem;
        }
    }

    .imageContainer {
        position: relative;
        height: 500px;
        flex: 1;
    }

    .img {
        object-fit: contain;
    }

    .intro {
        line-height: 25px;
    }

    .homeButtons {
        display: flex;
        gap: 20px;
    }

    .homeBtn {
        width: 120px;
        padding: 1rem 0rem;
        font-weight: bold;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .learnMore {
        background-color: var(--btn);
        color: var(--text);
    }

    .iconContainer {
        position: relative;
        height: 50px;
        width: 500px;
    }

    @media screen and (max-width: 1242px) {
        .imageContainer {
            display: none;
        }

        .textContainer .title {
            font-size: 4rem;
        }
    }
}
